<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwan.loginpage.mapper.LoginPageMapper">

	<!-- 로그인 조회 -->
	<select id="loginCheck" resultType="lp">
		SELECT * FROM member WHERE member_id = #{memberId} AND member_pw = #{memberPw} AND member_status = '활동중'
	</select>
	
	<!-- 회원가입 화면 -->
	<!-- 회원가입 -->
	<insert id="createUserCreate" parameterType="lp">
		INSERT INTO member (member_id, member_pw, member_name, member_birth, member_phone, member_nickname
		  <if test="memberEmail != null">
		    , member_email
		  </if>
		  )
		  VALUES(#{memberId}, #{memberPw}, #{memberName}, #{memberBirth}, #{memberPhone}, #{memberNickname}
		  <if test="memberEmail != null">
		    , #{memberEmail}
		  </if>
		  )
	</insert>
	
	<!-- 닉네임 확인 -->
	<select id="readNickname" parameterType="lp">
		SELECT member_nickname FROM member
	</select>
	
	<!-- id확인 -->
	<select id="readId" parameterType="lp">
		SELECT member_id FROM member
	</select>
	
	<!-- email확인 -->
	<select id="readEmail" parameterType="lp">
		SELECT member_email FROM member
	</select>
	
	<!-- pw변경 -->
	<update id="updatePw" parameterType="String">
		UPDATE member SET member_pw = #{memberPw} WHERE member_email= #{memberEmail}
	</update>
	
</mapper>