<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="main/common/control/db.properties"></properties>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!-- 20230503 wook -->
		<typeAlias alias="member" type="main.common.wook.main.domain.MemberVO" />
		<typeAlias alias="main" type="main.common.wook.main.domain.MainVO" />
		<typeAlias alias="hotel" type="main.common.wook.main.domain.HotelVO" />
		<typeAlias alias="admin" type="main.common.wook.admin.domain.AdminVO" />
		
		<!-- gwan/myPage -->
		<typeAlias alias="mp" type="gwan.mypage.domain.MyPageVO" />
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<!-- mapper.xml을 만들면 추가 해줘야함 -->
		
		<mapper resource="main/common/wook/main/mapper/MainMapper.xml"/>
		<mapper resource="main/common/wook/admin/mapper/AdminMapper.xml"/>
		<!-- gwan/myPage -->
		<mapper resource="gwan/mypage/mapper/MyPageMapper.xml"/>
	</mappers>
</configuration>