<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwan.mypage.mapper.MyPageMapper">

	<!-- 예약내역 -->
	<!-- 방문 예정 -->
	<select id="willVisit" resultType="mp">
		SELECT h.hotel_name, h.hotel_location1, h.hotel_location2, r.checkin_date, r.checkout_date, h.hotel_phone, i.room_name
		FROM reservation r JOIN hotel h
		ON (h.hotel_id = r.hotel_id)
		JOIN room_info i
		ON (r.room_id = i.room_id)
		WHERE r.member_id = 'nari123'
		    AND TO_CHAR(SYSDATE) <![CDATA[<]]> TO_CHAR(r.checkout_date)
		    AND TO_CHAR(SYSDATE) <![CDATA[<]]> TO_CHAR(r.checkin_date)
	</select>
	
	<!-- 방문 중 -->
	<select id="visiting" resultType="mp">
		SELECT h.hotel_name, h.hotel_location1, h.hotel_location2, r.checkin_date, r.checkout_date, h.hotel_phone, i.room_name
		FROM reservation r JOIN hotel h
		ON (h.hotel_id = r.hotel_id)
		JOIN room_info i
		ON (r.room_id = i.room_id)
		WHERE r.member_id = 'nari123'
		    AND TO_CHAR(SYSDATE) <![CDATA[<=]]> TO_CHAR(r.checkout_date-1)
		    AND TO_CHAR(SYSDATE) <![CDATA[>=]]> TO_CHAR(r.checkin_date)
	</select>

	<!-- 방문 완료 -->
	<select id="visited" resultType="mp">
		SELECT h.hotel_name, h.hotel_location1, h.hotel_location2, r.checkin_date, r.checkout_date, h.hotel_phone, i.room_name
		FROM reservation r JOIN hotel h
		ON (h.hotel_id = r.hotel_id)
		JOIN room_info i
		ON (r.room_id = i.room_id)
		WHERE r.member_id = 'nari123'
		    AND TO_CHAR(SYSDATE) <![CDATA[>]]> TO_CHAR(r.checkout_date)
	</select>
	
	
	<!-- 위시리스트  -->
	<!-- 위시리스트 숙소 조회 -->
	<select id="readWishList" resultType="mp">
	
		<![CDATA[
		SELECT b.hotel_name, b.hotel_location1, b.hotel_location2, b.hotel_thema, b.room_price, b.wishlist_id
		FROM (SELECT rownum rn, a.*
			FROM (SELECT *
		    	  FROM hotel h JOIN (SELECT hotel_id, room_price
		                    		 FROM (SELECT hotel_id, room_price,
		                            			  ROW_NUMBER() OVER(PARTITION BY hotel_id ORDER BY hotel_id) as hp
		                        		   FROM room_info)
		                    			   WHERE hp = 1
		                        		   AND hotel_id IN (SELECT hotel_id
		                                   					FROM wishlist
		                                   					WHERE member_id = #{memberId})) r
		    	  ON (h.hotel_id = r.hotel_id)
		    	  JOIN wishlist w
		    	  ON (h.hotel_id = w.hotel_id)
		    	  WHERE member_id = #{memberId}
		    	  ORDER BY 1 DESC) a
			WHERE rownum <= #{page} * 10 ) b
		WHERE b.rn > (#{page} - 1) * 10
		]]>
	
	</select>
	
	<!-- 위시리스트 단건 삭제 -->
	<delete id="deleteWishList" parameterType="int">
		DELETE FROM wishlist WHERE wishlist_id = #{wishlistId}
	</delete>
	
	<!-- 위시리스트 건수 조회 -->
	<select id="readWishPageCount" resultType="int">
		SELECT count(*) FROM wishlist WHERE member_id = #{memberId}
	</select>
	
	<!-- 보유쿠폰함 -->
	<!-- 쿠폰 조회 -->
	<select id="readCoupon" parameterType="mp">
		SELECT coupon_name, coupon_start, coupon_end, coupon_range, sale_per, sale_pri
		FROM coupon WHERE member_id = #{memberId}
		AND TO_CHAR(SYSDATE) <![CDATA[>=]]> TO_CHAR(coupon_start)
		AND TO_CHAR(SYSDATE) <![CDATA[<=]]> TO_CHAR(coupon_end)
		AND coupon_check = 1
		ORDER BY coupon_id
	</select>
	
	
	<!-- 회원정보수정 -->
	<update id="updateMemberInfo" parameterType="lp">
		UPDATE member
		<set>
			<if test="memberProfile != null and memberProfile != ''">member_profile = #{memberProfile},</if>
	        <if test="memberEmail != null and memberEmail != ''">member_email = #{memberEmail},</if>
	        <if test="memberPhone != null and memberPhone != ''">member_phone = #{memberPhone},</if>
	        <if test="memberNickname != null and memberNickname != ''">member_nickname = #{memberNickname},</if>
	        <if test="memberThema != null and memberThema != ''">member_thema = #{memberThema},</if>
	        <if test="memberPw != null and memberPw != ''">member_pw = #{memberPw}</if>
		</set>
		WHERE member_id=#{memberId}
	</update>
</mapper>